.satellite-list-container {
  margin: 10px;
  border: 1px solid #ccc;
}

.sat-list {
  margin: 20px;
  height: 335px;
  overflow-y: auto;
}

.spin-box {
  align-items: center;
  justify-content: center;
  height: 335px;
  display: flex;
}
